<p>Parcel tags/ type</p>
<h5>GET = base_url/api/tag/all-tags</h5>
<h6>response</h6>
<pre>{
 "success": true,
 "code": 200,
 "tags": [
		{
			"id": 21,
			"name": "Grands kits",
			"company_id": 2,
			"description": "Grands kits",
			"status": 0,
			"created_by": "kindeki mapesa"
		},
         ]
}
</pre>
<h5>Notes</h5> 
<p>tags with status = 0 must be disable on choices</p>
