<h5>POST = base_url/api/change-password</h5>                                                      
<h6>Payroad</h6>
<pre>
		{
        current_password: "",
        new_password:"",
        confirm_password:""
		}
</pre>

<h6>Responce</h6>
<pre>{
	"success": true,
	"code": 200,
	"message": "password changes successfully"
}
</pre>