<h5>GET = base_url/api/dashbord-data</h5>                                                      
<h6>Responce</h6>
<p>What you have to use are <b>incoming, outgoing, received_30, sent_30</b></p>
<p><b>_30</b> on variable represent data are of last 30 days</p>
<pre>{
	"success": true,
	"code": 200,
    "dataz":{"incoming" :123, 
            "outgoing": 345, 
            "received_30": 4567, 
            "sent_30": 6765, 
            "transit": 56, 
            "revDay": 567, 
            "rev7": 543, 
            "rev30": 5678
            }
	"message": "SUCCESSFULLY"
}
</pre>