
<h5>GET = base_url/api/parcel/incomming</h5>
<h6>response</h6>
<pre>
{
	"success": true,
	"code": 200,
	"parcels": [
		{
			"fulname": "kindeki mapesa",
			"price": "1500",
			"barcode_id": "2372450",
			"sender_name": "sender name",
			"sender_phone": "0234567890",
			"package_size": "small",
			"package_tag": "others",
			"created_at": "2024-12-10T03:13:32.000Z",
			"receiver_name": "ka kio",
			"receiver_phone": "0768667773",
			"created_by": 4,
			"id": 25950,
			"thumbnail": "package.jpg",
			"bid": 3,
			"name": "vitu flan vya arusha",
			"bname": "kisongo"
		}
	],
	"message": "incomming parcel"
}
</pre>