<div>
    <p>
        API return 3 status code and boolean success status<br />
        true: every thing ok<br />
        false: something is wrong<br />
        <br />
        200: request ok<br />
        409: request failure due to input data(validation ect)<br />
        500: request failure due to database or server error
    </p>
    <h6>base_url :https://kago.akilikubwadigital.com </h6>
    <h6>img_url :https://kago.akilikubwadigital.com/images/ </h6>

    <h6>Each request should have token on header</h6>
    <p>Authorization Token</p>
</div>