<h5>GET = base_url/api/parcel/outgoing</h5>                                                      
<h6>response</h6>
<pre>{
	"success": true,
	"code": 200,
	"parcels": [
		
		{
			"fulname": "Sambokile kindeki",
			"price": "5000",
			"barcode_id": "2759169",
			"sender_name": "sender name",
			"sender_phone": "0234567890",
			"package_size": "20",
			"package_tag": "tv",
			"created_at": "2024-12-04T16:11:56.000Z",
			"receiver_name": "ka kio",
			"receiver_phone": "0768667773",
			"id": 6,
			"created_by": 5,
			"thumbnail": "package.jpg",
			"bid": 3,
			"name": "simu kariiii sana",
			"bname": "kisongo"
		}
	],
	"message": "outgoing parcel"
}
</pre>