<h5>POST = base_url/api/parcel/update</h5>                                                      
<h6>Payroad</h6>
<pre>
		{
           
        "id": 3,
        "description": "kisongo",
        "sender_name":"",
        "sender_phone":"",
        "receiver_name":"",
        "receiver_phone":"",
        "transporter_name":"",
        "transporter_phone":"",
        "branch_to":5,
        "price":1000,
        "name":"",
        "package_value":30000,
        "package_size":"small",
        "package_weight":1,
        "package_tag":1,
        "specific_location":"",
		}
</pre>

<h6>Responce</h6>
<pre>{
	"success": true,
	"code": 200,
	"message": "Parcel successful edited"
}
</pre>