
<h5>POST = base_url/api/parcel/create</h5>
<h6>request payload</h6>
<pre>
    {
	"sender_name":"sender name",
	"sender_phone":"0234567890",
	"receiver_name":"ka kio",
	"receiver_phone":"0768667773",
	"transporter_name":"",
	"transpoerter_phone":"",
	"price":"1500",
	"branch_to":"3",
	"description":"",
	"package_value":"1000",
	"package_size":"small",
	"package_weight":"3",
	"package_tag":"10",
	"specific_location":"",
	"name":"vitu flan vya arusha"
}
</pre>

<h6>response data</h6>
<pre>
    {
	"success": true,
	"code": 200,
	"message": "Package has been created successfully"
}
</pre>
<h6>NOTES</h6>
validation are taken cared in backend side
