<h5>POST = base_url/api/parcel/delete</h5>                                                      
<h6>Payroad</h6>
<pre>
	
		
		{
			"id": 3,
			"barcode_id":3456543223,
			"description": "kisongo"
		}
	

</pre>

<h6>Responce</h6>
<pre>{
	"success": true,
	"code": 200,
	"message": "Parcel successful Removed"
}
</pre>