<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-8 border-left border-right">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <h2>Kagopoint API Doc</h2>
                </a>
            </nav>


            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="intro-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#intro"
                                aria-expanded="true" aria-controls="intro">
                               1.0 Introduction
                            </button>
                        </h2>
                    </div>

                    <div id="intro" class="collapse show" aria-labelledby="intro-h" data-parent="#accordionExample">
                        <div class="card-body">
                            {{>intro}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="login-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#login" aria-expanded="false" aria-controls="login">
                                1.1 Auth login
                            </button>
                        </h2>
                    </div>
                    <div id="login" class="collapse" aria-labelledby="login-h" data-parent="#accordionExample">
                        <div class="card-body">
                            {{>login}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="logout-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#logout" aria-expanded="false" aria-controls="logout">
                                1.2 Auth logout
                            </button>
                        </h2>
                    </div>
                    <div id="logout" class="collapse" aria-labelledby="logout-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            {{>logout}}
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="alltag-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#alltag" aria-expanded="false" aria-controls="alltag">
                                2.1 Get all tags
                            </button>
                        </h2>
                    </div>
                    <div id="alltag" class="collapse" aria-labelledby="alltag-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>all-tag}}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="get-branch-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#getbranch" aria-expanded="false" aria-controls="getbranch">
                                3.1 get branches
                            </button>
                        </h2>
                    </div>
                    <div id="getbranch" class="collapse" aria-labelledby="get-branch-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>get-branch}}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="parcel-create-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#parcel_create" aria-expanded="false" aria-controls="parcel_create">
                                4.1 Parcel create
                            </button>
                        </h2>
                    </div>
                    <div id="parcel_create" class="collapse" aria-labelledby="parcel-create-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>parcel_create}}
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-header" id="incoming-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#incoming" aria-expanded="false" aria-controls="incoming">
                                4.2 Incoming parcel
                            </button>
                        </h2>
                    </div>
                    <div id="incoming" class="collapse" aria-labelledby="incoming-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>incoming}}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="outgoing-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#outgoing" aria-expanded="false" aria-controls="outgoing">
                                4.2 outgoing parcel
                            </button>
                        </h2>
                    </div>
                    <div id="outgoing" class="collapse" aria-labelledby="outgoing-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>outgoing}}
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-header" id="receive-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#receive" aria-expanded="false" aria-controls="receive">
                                5.1 receive parcel
                            </button>
                        </h2>
                    </div>
                    <div id="receive" class="collapse" aria-labelledby="receive-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>parcel_received}}
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-header" id="remove-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#remove" aria-expanded="false" aria-controls="remove">
                                5.2 remove parcel
                            </button>
                        </h2>
                    </div>
                    <div id="remove" class="collapse" aria-labelledby="remove-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>parcel_remove}}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="editp-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#editp" aria-expanded="false" aria-controls="editp">
                                5.3 edit parcel
                            </button>
                        </h2>
                    </div>
                    <div id="editp" class="collapse" aria-labelledby="editp-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>parcel_edit}}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="print-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#print" aria-expanded="false" aria-controls="print">
                                5.4 print receipt parcel
                            </button>
                        </h2>
                    </div>
                    <div id="print" class="collapse" aria-labelledby="print-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>parcel_print}}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="password-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#password" aria-expanded="false" aria-controls="password">
                                6 change password
                            </button>
                        </h2>
                    </div>
                    <div id="password" class="collapse" aria-labelledby="password-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>change_password}}
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-header" id="dashbord-h">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#dashbord" aria-expanded="false" aria-controls="dashbord">
                                7 Dashbord data
                            </button>
                        </h2>
                    </div>
                    <div id="dashbord" class="collapse" aria-labelledby="dashbord-h"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           {{>dashbord_data}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-2"></div>
    </div>
</div>