<style>
    .breadcumb-area,
        .breadcumb-blog-area {
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-image: url('/images/ss_slider-kagopoint1.jpg');
            background-size: cover;
        }

</style>

<!-- BLOG BREADCUMB START -->
<div class="breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 txtc  text-center ccase">
                <div class="brpt">
                    <h2> contact</h2>
                </div>
                <div class="breadcumb-inner">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li>contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="template-home-wrapper">

    <div class="page-content-home-page">
        <div data-elementor-type="wp-page" data-elementor-id="1296" class="elementor elementor-1296">
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-60421b6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="60421b6" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ded2cf4"
                        data-id="ded2cf4" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-c6b7a07 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="c6b7a07" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e9ceed8"
                                        data-id="e9ceed8" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-3badf01 elementor-widget elementor-widget-shortcode"
                                                data-id="3badf01" data-element_type="widget"
                                                data-widget_type="shortcode.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-shortcode">
                                                        <div class="wpcf7 no-js" id="wpcf7-f1299-p1296-o1" lang="en-US"
                                                            dir="ltr" data-wpcf7-id="1299">
                                                            <div class="screen-reader-response">
                                                                <p role="status" aria-live="polite" aria-atomic="true">
                                                                </p>
                                                                <ul></ul>
                                                            </div>
                                                            <form
                                                                action="https://wp.dreamitsolution.net/multilen/multilen-transport/contact/#wpcf7-f1299-p1296-o1"
                                                                method="post" class="wpcf7-form init"
                                                                aria-label="Contact form" novalidate="novalidate"
                                                                data-status="init">
                                                                
                                                                <div class="form-area quote_form style-two">
                                                                    <div class="form-inner">
                                                                        <div class="form-controls row">
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <p><span class="wpcf7-form-control-wrap"
                                                                                            data-name="sub"><input
                                                                                                size="40"
                                                                                                maxlength="400"
                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                                                                aria-required="true"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Fulname..."
                                                                                                value="" type="text"
                                                                                                name="sub" /></span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <p><span class="wpcf7-form-control-wrap"
                                                                                            data-name="sub2"><input
                                                                                                size="40"
                                                                                                maxlength="400"
                                                                                                class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email form-control"
                                                                                                aria-required="true"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Phone or Email..."
                                                                                                value="" type="email"
                                                                                                name="sub2" /></span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <p><span class="wpcf7-form-control-wrap"
                                                                                            data-name="textarea-234"><textarea
                                                                                                cols="20" rows="7"
                                                                                                maxlength="2000"
                                                                                                class="wpcf7-form-control wpcf7-textarea form-control"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Your Message"
                                                                                                name="textarea-234"></textarea></span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <div class="buttons">
                                                                                        <p><input
                                                                                                class="wpcf7-form-control wpcf7-submit has-spinner button"
                                                                                                type="submit"
                                                                                                value="Submit Now" />
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="wpcf7-response-output" aria-hidden="true">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bb27dd2"
                                        data-id="bb27dd2" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-cd2892f elementor-widget elementor-widget-google_maps"
                                                data-id="cd2892f" data-element_type="widget"
                                                data-widget_type="google_maps.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-custom-embed">
                                                        <iframe loading="lazy"
                                                            src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"
                                                            title="London Eye, London, United Kingdom"
                                                            aria-label="London Eye, London, United Kingdom"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-6668504 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="6668504" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f6e18ba"
                        data-id="f6e18ba" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-c5c0a60 elementor-widget elementor-widget-iconbox"
                                data-id="c5c0a60" data-element_type="widget" data-widget_type="iconbox.default">
                                <div class="elementor-widget-container">




                                    <div class="icon-box style-four">

                                        <div class="icon-box-icon">

                                            <div class="icon">
                                                <i class="fa fa-map"></i>
                                            </div>


                                        </div>

                                        <div class="icon-box-content">
                                            <div class="title">
                                                <h2>Our Address</h2>
                                            </div>
                                            <div class="description">
                                                <p>Dar es Salaam, Tanzania.</p>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-04a4fdd"
                        data-id="04a4fdd" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-788dcee elementor-widget elementor-widget-iconbox"
                                data-id="788dcee" data-element_type="widget" data-widget_type="iconbox.default">
                                <div class="elementor-widget-container">




                                    <div class="icon-box style-four">

                                        <div class="icon-box-icon">

                                            <div class="icon">
                                                <i class="fa fa-phone"></i>
                                            </div>


                                        </div>

                                        <div class="icon-box-content">
                                            <div class="title">
                                                <h2> Phone Number</h2>
                                            </div>
                                            <div class="description">
                                                <p>0686 255811, 0659598897</p>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-68c8dc6"
                        data-id="68c8dc6" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-503da23 elementor-widget elementor-widget-iconbox"
                                data-id="503da23" data-element_type="widget" data-widget_type="iconbox.default">
                                <div class="elementor-widget-container">




                                    <div class="icon-box style-four">

                                        <div class="icon-box-icon">

                                            <div class="icon">
                                                <i class="fa fa-envelope-open"></i>
                                            </div>


                                        </div>

                                        <div class="icon-box-content">
                                            <div class="title">
                                                <h2>Email Us</h2>
                                            </div>
                                            <div class="description">
                                                <p>info@kagopoint.com</p>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-2c88c5c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="2c88c5c" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-316ea38"
                        data-id="316ea38" data-element_type="column">
                        <div class="elementor-widget-wrap">
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>